:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-gray-blue: hsl(246, 25%, 77%);
  --primary-font: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  font-family: var(--primary-font);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

.fm-attribution {
  font-size: 11px;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}